include ./partials/head

.container 
  h1 Single View, Yo
  .book-container 
    .single-book-info 
      form(method='POST' action='/books/update/' + book.id + '?_method=PUT')
        .book-info
          p.label Title: 
          p.editable(value=book.id)= book.title
        .book-info
          p.label Author: 
          p.editable(value=book.id)= book.author
        .book-info
          p.label Genre: 
          p.editable(value=book.id)= book.genre
        .book-info
          p.label Pages: 
          p.editable(value=book.id)= book.pages
        .book-info
          p.label Publisher: 
          p.editable(value=book.id)= book.publisher
        input(type='submit' name='_method' value= 'UPDATE')
      form(method='POST' action='/books/delete/' + book.id + '?_method=DELETE')
        input(type='submit' name='_method' value='DELETE')
include ./partials/footer     
  script(src='/single-view.js')

    

  
